<div class="comments">
  <% if @post.comments.empty? %>
    <p>
      <%= 'No comments yet... so you can be the first!' %>
    </p>
    <br/>
  <% else %>
    <% @post.comments.each do |comment| %>
      <div class="media">
        <div class="pull-left">
          <img class="media-object">
            <%= image_tag comment.user.avatar.url(:thumb) %>
          </img>
        </div>
        <div class="media-body">
          <h5 class="media-heading glyphicon glyphicon-time"></h5>
          <%= " #{comment.created_at.localtime.strftime("%d/%m/%Y at %I:%M%p")} by #{comment.user.name}" %>
          <% if current_user&.admin? or current_user == comment.user %>
            <%= link_to '', post_comment_path(@post, comment), method: :delete, class: 'glyphicon glyphicon-remove' %>
          <% end %>
          <p>
            <%= comment.content %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
