<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <%= render partial: 'post_actions' %>
      <%= render partial: 'post_base' %>
      <hr/>
      <%= render partial: 'comments' %>
      <br/>
      <div class="well">
        <h4>Leave a Comment:</h4>
        <%= render partial: '/comments/form' %>
      </div>
      <hr/>
    </div>
    <!-- Blog Sidebar Widgets Column-->
    <div class="col-md-4">
      <%= render partial: 'search' %>
      <%= render partial: 'categories' %>
      <%= render partial: 'side_widget' %>
    </div>
  </div>
</div>
